.idea
db.sqlite3
venv
*.py[cod]

# Packages
dist
build
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pycharm
.idea/

public/static/
*.lock
*.yarn-integrity