{% load static %}

<link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css"/>

<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-center fixed-top MENU">
    <div class="d-flex justify-content-center">
        <a class="navbar-brand" href="{% url 'base:index' %}">
            <img border="0" src="{% static 'images/logo.png' %}" width="200" height="40">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item" id="home_li">
                    <a class="nav-link" id="home_a" href="{% url 'base:index' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item" id="aboutus_li">
                    <a class="nav-link" id="aboutus_a" href="{% url 'base:aboutus' %}">
                        About us
                    </a>
                </li>
                <li class="nav-item" id="workshops_li">
                    <a class="nav-link" id="workshops_a" href="{% url 'base:workshops' %}">
                        Workshops
                    </a>
                </li>
                <li class="nav-item" id="contact_li">
                    <a class="nav-link" href="#contato">Contact</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>


{# Estilização e Funções específicas para animação do menu (Transparência ao "scrollar") #}

