<!DOCTYPE html>
{% extends '../base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/contatoForms.css' %}">
    <link rel="stylesheet" href="{% static 'css/secao1.css' %}">
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="inner-container">
            <h1 class="text-center text-light text-height-bold"><strong>About Us</strong></h1>
            <a style="color:whitesmoke;" href="{% url 'base:index' %}">Home / </a>
            <a style="color:whitesmoke;" href="{% url 'base:aboutus' %}">About Us</a>
        </div>
        <img src="{% static 'images/aboutus.jpg' %}" class="hero-image">
    </div>

    <div class="container">
        <div class="row top-margin justify-content-left">
            <h2>Who We Are</h2>
        </div>

        <div class="row justify-content-center align-items-center">

            <div class="col-sm-8">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                    explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                    dolores
                    eos qui ratione voluptatem sequi nasciunt.
                </p>
            </div>

            <div class="col-sm-4">
                <img class="rounded min-vw-75" src="{% static 'images/aboutus2.jpg' %}">
            </div>
        </div>

        <div class="row justify-content-center align-items-center mt-2">
            <a target="_blank" rel="noopener noreferrer" href="https://docs.wixstatic.com/ugd/32b8c8_88c35ef3a6164d3088865ecbaccd23ad.pdf"
               class="btn btn-lg btn-success"><strong>GET THE DOCS</strong></a>
        </div>
        <!--<div style="text-align: right"><img src="{% static 'images/aboutus2.jpg' %}"  /></div>-->


        <!-- Seção sobre Autores -->

        <!-- Natalia Moreira -->
        <div class="row mt-5">
            <!-- Nome e Foto -->
            <div class="col-sm-3 col-xs-12 ">
                <div class="row justify-content-center">
                    <h3 class="title text-center font-weight-bold" style="color: #1fad83">Natalia Moreira</h3>
                </div>
                <div class="row justify-content-center">
                    <img src="{% static 'images/NataliaMoreira.jpeg' %}"
                         style="border-radius: 100%; border-color: #1fad83; border-style: solid; width: 200px">
                </div>
            </div>

            <!-- Descrição -->
            <div class="col-sm-9 col-xs-12 p-4">
                <text>
                    Ph.D. researcher in the School of Materials, Faculty of Physucs and Engineering. Natalia is
                    developing her research ini the involvement of consumers in the development of new sustainable
                    fashion products in the UK market.
                    With a background in fashion and eco-design, she has lived in several countries and uses her
                    culturan and technical expertise to improve the interaction between sustainable SMEs in the country
                    with current and future consumers, combining different assets throughout the textile value and
                    supply chain.
                    Natalia decided to start this project as her research began to show the importance of involving the
                    younger generations on the concepts, implications and advantages of learning and implementing
                    sustainable behaviour.
                </text>
            </div>
        </div>

        <!-- Francesca Arato -->
        <div class="row mt-5">
            <!-- Nome e Foto -->
            <div class="col-sm-3 col-xs-12 ">
                <div class="row justify-content-center">
                    <h3 class="title text-center font-weight-bold" style="color: #1fad83">Francesca Arato</h3>
                </div>
                <div class="row justify-content-center">
                    <img src="{% static 'images/FrancescaArato.jpeg' %}"
                         style="border-radius: 100%; border-color: #1fad83; border-style: solid; width: 200px">
                </div>
            </div>

            <!-- Descrição -->
            <div class="col-sm-9 col-xs-12 pt-4">
                <text>
                    With a MSc in Ecodesign at the Polytechnic University of Turin, Francesca has worked at Gateway
                    National Recreation Area, National Park Service of New York City as an educational coordinator. She
                    created educational programs for children with the aim of increasing awareness about enviromental
                    issues in the local community.
                    She then worked as an environmental educator and at the London Borough of Bexley to promote
                    sustainability in all the schools of the Borough. She creates interactive designs to motivate
                    people's interest in protagonist of the change.
                    Francesca decided to work on this project for her passion to spread the message of sustainability as
                    she thinks that education is one of the key for a change that starts from people's behaviour.
                </text>
            </div>
        </div>

        <!-- Kathryn Downey -->
        <div class="row mt-5 mb-5">
            <!-- Nome e Foto -->
            <div class="col-sm-3 col-xs-12 ">
                <div class="row justify-content-center">
                    <h3 class="title text-center font-weight-bold" style="color: #1fad83">Kathryn Downey</h3>
                </div>
                <div class="row justify-content-center">
                    <img src="{% static 'images/KathrynDowney.png' %}"
                         style="border-radius: 100%; border-color: #1fad83; border-style: solid; width: 200px">
                </div>
            </div>

            <!-- Descrição -->
            <div class="col-sm-9 col-xs-12 pt-4">
                <text>
                    Ph.D. researcher in the School of Materials, Facuulty of Physics and Engineering. Kathryn is looking
                    at developing digital interventions for healthcare services within the UK. Her research explores
                    participatory deign in partnership with patients, their families and healthcare needs. Plymouth
                    University graduate, Kathryn studied Fashion and textile design, which culminated in two Masters
                    degree in design and enterprises at the Manchester Metropolitan University and at the University of
                    Manchester.
                    She has spent, prior to the PhD, 6 years working for a corporate company. Kathryn's involvement in
                    the project was oriented by her interest in working with education and passion for sustainability.
                </text>
            </div>
        </div>


    </div>

{% endblock content %}