{% extends '../base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/workshops.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/testimonials.css' %}" type="text/css" />
{% endblock styles %}

{% block content %}
    <div class="container-fluid">
        {# primeira seção da home page #}
        <div class="row align-items-center justify-content-center bg1">
            <div class="col-lg-5 col-sm-10 pt-7">
                <div class="row">
                    <div class="col-12" align="center">
                        <h1 class="secao1 text-light text-height-bold">
                            <strong>Sustainable Fun!</strong>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-2" align="center">
                        <p class="lead text-muted">
                            Turning Knowledge Into Action.<br>
                            Creating Effective Cross-Curricular Links.
                        </p>
                        <a href="{% url 'base:workshops' %}" class="btn btn-lg btn-success"><strong>GET STARTED</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {# segunda seção da home page (why use sustainable fun?) #}
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12" align="center">
                <h2>Why Use Sustainable Fun?</h2>
            </div>
        </div>
        <hr class="half-width">
        <div class="row mt-4 mb-5">
        {% for reason in reasons %}
            <div class="col-md-4">
                <div class="row">
                    <div class="col-2">
                        <img src="{% static reason.icone %}" alt="reason's icon">
                    </div>
                    <div class="col-10">
                        <h4>{{ reason.titulo }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-2">
                        <p class="paragraph">{{ reason.descricao }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    {# terceira seção da home page (start learning sustainable fun) #}
    <div class="container-fluid">
        <div class="row justify-content-center bg3 pt-5 pb-5">
            <div class="col-lg-7 pt-4 pb-4" align="center">
                <h1 class="secao3"><strong>Start learning Sustainable Fun! Now</strong></h1>
            </div>
            <div class="col-12 pt-4 pb-4" align="center">
                <a href="{% url 'base:workshops' %}" class="btn btn-primary">GET STARTED</a>
            </div>
        </div>
    </div>

    {# 4 seção da home page (start learning sustainable fun) #}
    <div class="container">
        <section class="text-center my-5">
        <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold my-5">Testimonials</h2>
            <div class="wrapper-carousel-fix">
            <!-- Carousel Wrapper -->
                <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel"
                data-interval="5000">
                <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                        {% for testimonial in testimonials %}

                            <div class="carousel-item {% if testimonial.numero == 0%} active {% else %} seila {% endif %}">

                                <div class="testimonial">
                                <!--Avatar-->
                                    <div class="avatar mx-auto mb-4">
                                      <img src="{{testimonial.imagem}}" class="rounded-circle img-fluid"
                                        alt="First sample avatar image">
                                    </div>
                                    <!--Content-->
                                    <p>
                                      <i class="fas fa-quote-left"></i>{{ testimonial.depoimento }}
                                    </p>
                                <h4 class="font-weight-bold">{{ testimonial.nome }}</h4>
                                <h6 class="font-weight-bold my-3">{{ testimonial.proficao }}</h6>
                                </div>
                            </div>
                        <!--First slide-->
                        {% endfor %}
                    <!--Controls-->
                    <a class="carousel-control-prev left carousel-control" href="#carousel-example-1" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next right carousel-control" href="#carousel-example-1" role="button"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                    <!--Controls-->
                    </div>
                <!-- Carousel Wrapper -->
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
