<!doctype html>
{% extends '../base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row justify-content-center">
                {% for workshop in workshops %}
                    <div class="col-lg-5 card">
                        <img src="{% static 'images/workshop.png' %}" class="card-img-top" alt="Imagem do workshop">
                        <div class="card-body">
                            <h4 class="card-title">{{workshop.titulo}}</h4>
                            <p class="card-text">{{workshop.descricao}}</p>
                            <a href="#" class="btn btn-primary">Acessar</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
{% endblock content %}