<!doctype html>
{% extends '../base.html' %}
{% load static %}

{% block content %}
    <center><h1>Titulo da Pagina</h1></center>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md card">
                <img src="{% static 'images/workshop.png' %}" class="card-img-top" alt="Imagem do workshop">
                <div class="card-body">
                    <h4 class="card-title">Título do workshop</h4>
                    <p class="card-text">Descrição do workshop</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <div class="col-md card">
                <img src="{% static 'images/workshop.png' %}" class="card-img-top" alt="Imagem do workshop">
                <div class="card-body">
                    <h4 class="card-title">Título do workshop</h4>
                    <p class="card-text">Descrição do workshop</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md card">
                <img src="{% static 'images/workshop.png' %}" class="card-img-top" alt="Imagem do workshop">
                <div class="card-body">
                    <h4 class="card-title">Título do workshop</h4>
                    <p class="card-text">Descrição do workshop</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <div class="col-md card">
                <img src="{% static 'images/workshop.png' %}" class="card-img-top" alt="Imagem do workshop">
                <div class="card-body">
                    <h4 class="card-title">Título do workshop</h4>
                    <p class="card-text">Descrição do workshop</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md card">
                <img src="{% static 'images/workshop.png' %}" class="card-img-top" alt="Imagem do workshop">
                <div class="card-body">
                    <h4 class="card-title">Título do workshop</h4>
                    <p class="card-text">Descrição do workshop</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <div class="col-md card">
                <img src="{% static 'images/workshop.png' %}" class="card-img-top" alt="Imagem do workshop">
                <div class="card-body">
                    <h4 class="card-title">Título do workshop</h4>
                    <p class="card-text">Descrição do workshop</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md card">
                <img src="{% static 'images/workshop.png' %}" class="card-img-top" alt="Imagem do workshop">
                <div class="card-body">
                    <h4 class="card-title">Título do workshop</h4>
                    <p class="card-text">Descrição do workshop</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <div class="col-md card">
                <img src="{% static 'images/workshop.png' %}" class="card-img-top" alt="Imagem do workshop">
                <div class="card-body">
                    <h4 class="card-title">Título do workshop</h4>
                    <p class="card-text">Descrição do workshop</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}