<!doctype html>
{% extends '../base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/workshops.css' %}" type="text/css"/>
{% endblock styles %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
        {% for workshop in workshops %}
            <div class="col-lg-6 no-padding">
                <div class="card">
                    <img src="{% static 'images/workshop.png' %}" class="card-img-top" alt="Imagem do workshop">
                    <div class="card-body">
                        <h4 class="card-title">{{workshop.titulo}}</h4>
                        <p class="card-text">{{workshop.descricao}}</p>
                        <a href="#" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}