<!doctype html>
{% load static %}

<html lang="pt-br">
  {# Configurações, imports e parte não visível do HTML #}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/workshops.css' %}" type="text/css"/>

    <title>Hello, world!</title>

    <!-- CSS Formulário de Contato -->
    <link rel="stylesheet" href="static/css/contatoForms.css">

  </head>

  {# Parte Visível do HTML #}
  <body>

    <!-- Menu superior do site para todas as páginas -->
    <header>
      {# Implementar aqui SE FOR COMPARTILHADO, se não, vide "block content" abaixo #}
    </header>

    <!-- Conteudo da página -->
    <main role="main">
      {# Conteúdo diferente implementado em novo template para cada função que retorna render() da view.py #}
      {% block content %}{% endblock %}
    </main>

    <!-- Formulário Padrão -->
    <div id="formsSimple">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-sm-5">
                    <h1>Ficou com Dúvida ?</h1>
                    <h1>Entre em Contato</h1>
                </div>
                <div class="col-sm-5">
                    <form>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" id="inputNome" placeholder="| Nome*">
                            </div>

                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputEmail" placeholder="| Email*">
                            </div>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="inputTelefone" placeholder="| Tefone*">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea class="form-control" id="inputMensagem" rows="5" cols="33" placeholder ="| Mensagem*"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block">ENVIAR</button>
                            </div>
                         </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    <!-- Footer do site ao fim de todas páginas -->{# Implementar aqui SE FOR COMPARTILHADO, se não, vide "block content" acima #}

<footer class="page-footer">

  <!-- Footer Elements -->
  <div class="container">

      <!--Grid column-->
     <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">

      <div class="col-lg-2 col-md-12 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      </li>
     </ul>

          <!-- Social buttons -->

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>

      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>

        <li class="list-inline-item">
        <a class="btn-floating btn-insta mx-1">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>

        <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>

        <li class="list-inline-item">
        <a class="btn-floating btn-lacatin mx-1">
          <i class="fas fa-map-marker-alt "> </i>
        </a>
      </li>

      <li class="list-inline-item">
        <a class="btn-floating btn-arrowup mx-1">
            <i class="fab fa-arrow-up"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->


  <!-- Footer Elements -->
  </div>
</footer>
<!-- Footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>