{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>index.html</h1>
  <h2>Hello World! Já com Bootstrap :)</h2>

  {# Demonstração de Condicional e de variaveis de contexto dentro do template #}
  {% if texto_qualquer %}
    <button class="btn btn-primary">{{ texto_qualquer }}</button>
  {% else %}
    <button class="btn btn-primary">Variável "texto_qualquer" não foi passada.</button>
  {% endif %}


  {# Demonstração da importação de arquivos estáticos #}
  <img alt="Logotipo BigBuzz" src="{% static 'images/pp.jpeg' %}" />

{% endblock content %}