django==2.2.1

# Biblioteca de conexao com Postgres
psycopg2

# Linter para python/django
prospector

# Biblioteca para utilizar estruturas hierarquicas em DBs
django-mptt

# Slugify (transforma strings em strings aplicaveis a links na web)
python-slugify