# Dependencias base
django==2.2.8
Pillow==5.4.1
astroid==2.1.0
pylint==2.2.2
gunicorn==19.9.0
environ

# Dependencias Heroku
django-heroku==0.3.0
dj-database-url
whitenoise
psycopg2-binary
psycopg2

# Linter para python/django
prospector==1.1.6.4

# Biblioteca para utilizar estruturas hierarquicas em DBs
django-mptt==0.10.0

# Slugify (transforma strings em strings aplicaveis a links na web)
python-slugify==3.0.2

# Biblioteca para edicao de conteudo no app
django-ckeditor==5.7.1
