django==2.2.1

# Linter para python/django
prospector

# Biblioteca para utilizar estruturas hierarquicas em DBs
django-mptt

# Slugify (transforma strings em strings aplicaveis a links na web)
python-slugify

# Biblioteca para edicao de conteudo no app
django-ckeditor
