body{
    overflow-x: hidden;
    margin: 0;
}

.hero{
    position: relative;
}

.inner-container {
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 200px;
}

.hero-image {
    z-index: -1;
    width: 100vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.float-img {
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 2px;
}

.left {
  position: absolute;
  text-align: left;
  width: 300px;
  padding: 10px;
}
.top-margin {
    margin-top: 3rem !important;
}

.bottom-margin {
    margin-bottom: 300px !important;
}

.margin-between {
    margin-top: 2rem !important;
}

.image {
    margin-right: 1rem;
}

.paragraph {
    color: dimgray;
}

hr.half-width {
    width: 50%;
}

.bg {
  /* The image used */
  background-image: url(../images/secao.png);

  /* Half height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1.secao3 {
    color: white;
    text-shadow: 1px 1px black;
}