.paragraph {
    color: dimgray;
}

.bg1 {
  /* The image used */
  background-image: url(../images/secao1.png);

  height: 95vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#call-section-one{
    color: #FFFFFF;
    text-shadow: 1px 1px 1px black;
    font-size: 4em;
}

#subtitle-section-one{
    font-size: 1em;
    color: #ccc;
    text-shadow: 1px 1px 1px #333;
}

.bg3 {
  /* The image used */
  background-image: url(../images/secao3.jpg);

  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1.secao3 {
    color: white;
    text-shadow: 1px 1px black;
}


@media screen and (min-width: 480px){
  #subtitle-section-one {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 576px){
  #subtitle-section-one {
    font-size: 1.5em;
  }
  #call-section-one{
      font-size: 6em;
  }
}

@media screen and (min-width: 768px) {
  #subtitle-section-one {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 992px) {
  #subtitle-section-one {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 1200px) {
  #subtitle-section-one {
    font-size: 2em;
  }
}
