/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
    width:200px;
    z-index:10;
    color:red;
    text-align:center;
    top:50%;
    left:65%;
    bottom:auto;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
}

/* Declare heights because of positioning of img element */
.carousel-item {
  overflow: hidden;
}

#carouselIndicators img {
  width: 100%;
  height: auto;
  max-height: 500px;
  border-radius: 100%;
}

.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev {
    filter: invert(100%);
}
